@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    --color-1: #2C3639;
    --color-2: #3F4E4F;
    --color-3: #A27B5C;
    --color-4: #DCD7C9;
}

.bg-color-1{
    background-color: var(--color-1);
}

.text-color-1{
    color: var(--color-1);
}

.bg-color-2{
    background-color: var(--color-2);
}

.text-color-2{
    color: var(--color-2);
}

.bg-color-3{
    background-color: var(--color-3);
}

.text-color-3{
    color: var(--color-3);
}

.bg-color-4{
    background-color: var(--color-4);
}

.text-color-4{
    color: var(--color-4);
}

.add-to-cart-button:hover{
    border: solid 1px var(--color-1);
    background-color: white;
    color: var(--color-1);
}

.quantity-indicator{
    top: -0.45em; 
    right: -1.5em; 
    font-size: smaller;
    width: 1.5em;
    border-radius: 4em;
}